<md-toolbar 
  class="md-hue-2"
  ng-click="vm.closeSidebar($event)"> 
  <md-button ng-click="vm.toggleSidebar($event)" aria-label="Abrir menu sidebar" >
  
    <div class="">
      <img style="width: 100px;" src="{{vm.photo}}" alt="{{vm.name}}">
    </div>

    <span>{{vm.name}}</span>
  </md-button> 

  <div class="md-toolbar-tools">
    <md-button aria-label="Lista de clientes" class="md-button" ng-click="vm.go('cliente')">
      <i class="fa fa-list fa-2x"></i>
    </md-button>

    <md-button  aria-label="Cadastro de clientes" class="md-button" ng-click="vm.go('add')">
      <i class="fa fa-plus fa-2x"></i>
    </md-button>

  </div>
         
</md-toolbar>