<md-toolbar 
  class="md-hue-2"
  ng-click="$ctrl.closeSidebar($event)"> 
  <md-button ng-click="$ctrl.toggleSidebar($event)" aria-label="Abrir menu sidebar" >
  
    <div class="">
      <img src="images/profile.jpeg" alt="dr">
    </div>

    <span>Test user</span>
  </md-button> 

  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Favorite">
      <a href="#!/cliente"><i class="fa fa-list fa-2x"></i></a>
    </md-button>

    <md-button class="md-icon-button" aria-label="Favorite">
      <a href="#!/add"><i class="fa fa-plus fa-2x"></i></a>
    </md-button>

  </div>
         
</md-toolbar>