<md-card>
  <md-card-header>
      <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.options.rowSelection && vm.selected.length">
        <div class="md-toolbar-tools">
          <span>{{vm.title}}</span>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="vm.loadStuff()">
            <md-icon>refresh</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      
      <md-toolbar class="md-table-toolbar alternate" ng-show="vm.options.rowSelection && vm.selected.length">
        <div class="md-toolbar-tools">
          <span>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items' : 'item'}} selected</span>
        </div>
      </md-toolbar>
  </md-card-header>
  <md-card-content>
      <md-table-container>
        <table md-table md-row-select="vm.options.rowSelection" multiple="{{vm.options.multiSelect}}" ng-model="vm.selected" md-progress="promise">
          <thead md-head md-order="vm.query.order" md-on-reorder="vm.logOrder">
            <tr md-row>
              <th md-column md-order-by="name"><span>Nome</span></th>
              <th md-column md-order-by="idade"><span>Idade</span></th>
              <th md-column md-order-by="views"><span>Views</span></th>
              <th md-column md-order-by="closed"><span>Closed</span></th>
              <th md-column ><span></span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr ng-repeat="item in vm.list | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" md-row md-select="item" md-on-select="logItem" md-auto-select="vm.options.autoSelect" ng-disabled="item.idade > 90" >
              <td md-cell>{{item.name}}</td>
              <td md-cell>{{item.idade}}</td>
              <td md-cell>{{item.views}}</td>
              <td md-cell>{{item.closed}}</td>
              <td md-cell><md-button ng-click="vm.open(item)" class="md-secondary">More Info</md-button></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
      <md-table-pagination md-limit="vm.query.limit" md-limit-vm.options="vm.limitOptions" md-page="vm.query.page" md-total="{{vm.list.length}}" md-page-select="vm.options.pageSelect" md-boundary-links="vm.options.boundaryLinks" md-on-paginate="vm.logPagination"></md-table-pagination>
  </md-card-actions>
</md-card>