<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile ng-repeat="item in vm.list" ng-click="vm.open(item)">
		<center>Views&nbsp;<b>{{item.views}}</b><br/>
		Closed&nbsp;<b>{{item.closed}}</b><br/>
		<md-button class="md-raised">More Info</md-button>
		</center>
		<md-grid-tile-footer>
			<h3>{{item.name}}</h3>
		</md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
<!-- 
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <md-button class="md-raised md-primary" ng-click="vm.info(item)">Dialog Info</md-button>
  <md-button class="md-raised md-warn" ng-click="vm.delete(item)">Dialog Confirmation</md-button>
  <md-button class="md-raised" ng-click="vm.err(item)">Err Message</md-button>
</section>

 -->
