<div class="login" flex layout="row" layout-align="end stretch" layout-fill>
  <div flex-xs="100" flex-sm="100" flex="70" layout="column">
    <form name="$ctrl.loginForm" flex="noshrink" layout="column" novalidate ng-submit="$ctrl.login()">

      <md-input-container>
        <label>Nome</label>
        <input ng-model="$ctrl.name" name="name" type="text">
      </md-input-container>

      <md-input-container
        class="login__password"
        ng-class="{'md-input-invalid' : $ctrl.loginForm.$error.invalid_password }">
        <label>Senha (123)</label>
        <input
          ng-model="$ctrl.password"
          name="password"
          type="{{$ctrl.showPassword ? 'text' : 'password'}}">
        <div
          class="login__togglePassword"
          ng-click="$ctrl.showPassword = !$ctrl.showPassword">
          <md-icon ng-if="!$ctrl.showPassword">visibility</md-icon>
          <md-icon ng-if="$ctrl.showPassword">visibility_off</md-icon>
        </div>

        <div ng-messages="$ctrl.loginForm.$error" ng-show="$ctrl.loginForm.$error.invalid_password">
          <div ng-messages="invalid_password" layout="row" class="login__error__message"> 
            <span flex ng-model="err"></span>
            <md-icon>warning</md-icon>
          </div>
        </div>        
      </md-input-container>

      <md-checkbox aria-label="Manter conectado" class="md-accent">
        Mantenha-me conectado
      </md-checkbox> 
      
      <md-button
        class="md-raised md-accent"
        type="submit"
        ng-disabled="!$ctrl.name || !$ctrl.password">
        Entrar
        <md-icon>arrow_forward</md-icon>
      </md-button>
    </form>
  </div>
</div>
